@import "tailwindcss";

@theme {
  --color-bcDarkBlue: #002B5C;
  --color-bcPrimaryBlue: #2988CC
}

html,
body,
:root,
#app {
  height: 100%;
  margin: 0;
}

:root {
  --bc-separator-margin: 0
}

.mantine-Breadcrumbs-separator,
.mantine-Breadcrumbs-breadcrumb {
  color: #2988CC !important;
}

.mantine-Modal-content {
  display: flex !important;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.mantine-Modal-header {
  min-height: auto !important;
  align-self: flex-end;
}

.mantine-Modal-header,
.mantine-Modal-body {
  padding: 0 !important;
}

.mantine-Modal-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.mantine-Stepper-stepIcon:where([data-progress]),
.mantine-Stepper-stepIcon:where([data-completed]),
.mantine-Stepper-separator:where([data-active]) {
  background: #2988CC !important;
}